.header {
  display: flex;
  padding: 10px 20px;
}
.header-img-img {
  width: 15%;
}
.header-nav-list {
  display: flex;
  padding-top: 10px;
  color: rgb(119, 113, 104);
}
.header-nav-item:not(:last-child) {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  margin-top: 20px;
  position: relative;
}
.main-title {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  font-size: 70px;
  margin-bottom: 60px;
}
span {
  color: rgb(38, 153, 115);
}
.main-text {
  margin-bottom: 10px;
  color: #b44378;
  font-weight: bold;
  font-size: 24px;
}
.main-text2 {
  line-height: 25px;
  color: rgb(119, 113, 104);
}
.main-img {
  margin: 0px 0px 0px auto;
  display: block;
  width: 60%;
}
.texter {
  position: absolute;
  top: 15%;
  left: 18%;
}
.section1 {
  padding-left: 280px;
}
.section1-title {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  margin-bottom: 10px;
  margin-top: 100px;
}
.section1-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
}
.item {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 13px;
}
.list-item-news {
  background-color: #b44378;
  color: aliceblue;
  border-radius: 10px;
  padding: 5px 2%;
  margin-left: 30px;
  margin-right: 30px;
}
.list {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding-top: 30px;
  padding-bottom: 4px;
  margin-right: 280px;
  width: 89%;
}
.section2 {
  background-color: rgb(250, 249, 249);
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section2-title {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  margin-bottom: 10px;
}
.section2-ttl {
  text-align: center;
}
.section2-ttl2 {
  font-size: 24px;
  color: rgb(119, 113, 104);
}
.section2-item {
  margin-top: 40px;
  display: flex;
  padding-left: 160px;
}
.section2-img {
  width: 30%;
  margin-left: 200px;
}
.section2-item-text {
  padding-bottom: 6px;
}
.part1 {
  margin-bottom: 20px;
}

.section3-title {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: 170px;
}

.section3-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 170px;
}

.wrap2 {
  display: flex;
  margin-left: 20%;
  width: 70%;
  height: 280px;
}
.part3 {
  background-color: #b44378;
  width: 50%;
}
.part4 {
  width: 50%;
}
.part4-1 {
  display: flex;
  background-color: #b4507f;
  height: 50%;
  position: relative;
}
.part4-2 {
  display: flex;
  background-color: rgb(121, 104, 110);
  height: 50%;
  position: relative;
}
.section33__img {
  width: 27%;
  padding-top: 15px;
  padding-left: 35%;
}
.section3__img {
  width: 35%;
  padding-top: 15px;
  padding-left: 5px;
}
.ppp1 {
  position: absolute;
  left: 120px;
  bottom: 30px;
  color: #ddd;
}
.ppp2 {
  position: absolute;
  left: 120px;
  bottom: 30px;
  color: #ddd;
}
.section3-item-text {
  padding-left: 30px;
  color: #ddd;
}
.section3-items-title {
  padding-left: 185px;
  color: #ddd;
}
table {
  width: 70%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table td {
  padding-right: 30px;
  color: rgb(77, 73, 73);
}
table th {
  font-weight: bold;
  color: rgb(77, 73, 73);
  background-color: #dedede;
  text-align: left;
}
.section5 {
  margin-left: 400px;
}
.section5-title {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  margin-bottom: 10px;
  margin-top: 100px;
}
.section5-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
}

.section5-1 {
  display: flex;
  margin-top: 60px;
}
.mv {
  background: url(../img/recruit.png);
  width: 50%;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: aliceblue;
  font-size: 30px;
}
.mv2 {
  background: url(../img/interview.png);
  width: 50%;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.title2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: aliceblue;
  font-size: 30px;
}
.section6-title {
  text-align: center;
  color: rgb(119, 113, 104);
  margin-top: 50px;
}
.plactice__btn {
  background: linear-gradient(90deg, #f32e80, #b44378);
  box-shadow: 0 7px 0 #b44378;
  color: white;
  padding: 15px 50px;
  border-radius: 30px;
  margin-left: 500px;
  width: 80px;
  text-align: center;
  display: block;
  position: relative;
  font-size: 12px;
}
.plactice__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 145px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
}
.borderman {
  display: inline-block;
  border-bottom: 30px solid #000000;
  padding: 2px 1px;
  margin-left: 600px;
  height: 20px;
  margin-bottom: 10px;
  border-color: #b44378;
}
.footer {
  background-color: #dedede;
  margin-top: 60px;
  padding-left: 500px;
}
.itiran {
  text-align: center;
  width: 10%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: solid 1px #b44378;
  background-color: rgb(250, 246, 246);
  margin: 0 auto;
  margin-top: 10px;
}
.section4 {
  background-color: rgb(250, 246, 246);
  padding-bottom: 20px;
}
.section4-cards {
  display: flex;
  justify-content: space-around;
}

.section4-card {
  width: 22%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  border-radius: 20px;
}
.section4-card-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.section-card-title {
  position: relative;
}
.section4-card-title {
  position: absolute;
  top: 0%;
  background-color: #b44378;
  color: #ddd;
  padding: 20px;
  border-radius: 20px 0 0 0;
}
.section4-item-text {
  padding-left: 7px;
  padding-top: 20px;
}
.section4-text2 {
  display: flex;
  margin-top: 30px;
}
.ddd {
  padding-left: 40px;
  display: inline-block;
}
.titlee {
  position: absolute;
  top: 10px;
  color: #ccc;
}
.section4-title1 {
  font-family: "Gochi Hand", cursive;
  color: #b44378;
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: 170px;
}
.section4-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 170px;
}
