.header {
  display: flex;
  padding: 10px 20px;
}
.header-img-img {
  width: 15%;
}
.header-nav-list {
  display: flex;
  padding-top: 10px;
  color: rgb(119, 113, 104);
}
.header-nav-item:not(:last-child) {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  margin-top: 20px;
  position: relative;
}
.main-title {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  font-size: 70px;
  margin-bottom: 60px;
}
span {
  color: rgb(38, 153, 115);
}
.main-text {
  margin-bottom: 10px;
  color: rgb(179, 48, 48);
  font-weight: bold;
  font-size: 24px;
}
.main-text2 {
  line-height: 25px;
  color: rgb(119, 113, 104);
}
.main-img {
  height: 500px;
  margin: 0px 0px 0px auto;
  display: block;
}
.texter {
  position: absolute;
  top: 15%;
  left: 18%;
}
.section1 {
  padding-left: 280px;
}
.section1-title {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  margin-bottom: 10px;
  margin-top: 100px;
}
.section1-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
}
.item {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 13px;
}
.list-item-news {
  background-color: rgb(179, 48, 48);
  color: aliceblue;
  border-radius: 10px;
  padding: 3px 8px;
  margin-left: 30px;
  margin-right: 30px;
}
.list {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding-top: 30px;
  padding-bottom: 4px;
  margin-right: 280px;
}
.section2 {
  background-color: rgb(250, 249, 249);
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section2-title {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  margin-bottom: 10px;
}
.section2-ttl {
  text-align: center;
}
.section2-ttl2 {
  font-size: 24px;
  color: rgb(119, 113, 104);
}
.section2-item {
  margin-top: 40px;
  display: flex;
  padding-left: 160px;
}
.section2-img {
  width: 30%;
  margin-left: 200px;
}
.section2-item-text {
  padding-bottom: 6px;
}
.part1 {
  margin-bottom: 20px;
}

.section3-title {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  margin-bottom: 10px;
  margin-top: 100px;
}
.section3-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
}
.section3-ttl {
  padding-left: 160px;
}
.section3-item {
  display: flex;
  margin-left: 160px;
  padding: 10px;
  width: 70%;
  height: 350px;
}
.part3 {
  background-color: rgb(179, 48, 48);
  padding: 40px 50px;
  width: 400px;
}
.part4-1 {
  background-color: rgb(214, 87, 87);
  display: flex;
  padding-left: 30px;
  height: 175px;
}
.part4-2 {
  background-color: rgb(199, 128, 128);
  display: flex;
  height: 175px;
  position: relative;
}
.p4-2-1 img {
  position: absolute;
  top: 30px;
}
.part3 {
  padding-top: 5px;
  padding-left: 80px;
  color: white;
}
.ppp {
  width: 100px;
}
.section3__img {
  width: 50%;
  padding-left: 1px;
  padding-top: 30px;
}
.section34__img {
  width: 26%;
  padding-left: 30px;
  padding-bottom: 10px;
}
.part3 img {
  padding-left: 50px;
}
.section3-item {
  position: relative;
}
.section3-item-title {
  position: absolute;
  right: 600px;
}

table {
  width: 70%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table td {
  padding-right: 30px;
  color: rgb(77, 73, 73);
}
table th {
  font-weight: bold;
  color: rgb(77, 73, 73);
  background-color: #dedede;
  text-align: left;
}
.section5 {
  margin-left: 400px;
}
.section5-title {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  margin-bottom: 10px;
  margin-top: 100px;
}
.section5-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
}
.mv {
  position: relative;
  background: url(../img/recruit.png) no-repeat center/cover;
  height: 50vh;
  width: 50vw;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.mv2 {
  position: relative;
  background: url(../img/interview.png) no-repeat center/cover;
  height: 50vh;
  width: 50vw;
}
.title2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.section5-1 {
  display: flex;

  margin-top: 100px;
}
.section6-title {
  text-align: center;
  color: rgb(119, 113, 104);
  margin-top: 50px;
}
.plactice__btn {
  background: linear-gradient(90deg, #ff34ff, #8646ff);
  box-shadow: 0 7px 0 rgb(104, 15, 15);
  color: white;
  padding: 15px 50px;
  border-radius: 30px;
  margin-left: 500px;
  width: 80px;
  text-align: center;
  display: block;
  position: relative;
  font-size: 12px;
}
.plactice__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 145px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
}
.border {
  display: inline-block;
  border-bottom: 30px solid #000000;
  padding: 2px 1px;
  margin-left: 600px;
  height: 20px;
  margin-bottom: 10px;
  border-color: #8646ff;
}
.footer {
  background-color: #dedede;
  margin-top: 60px;
  padding-left: 500px;
}

.section4-cards {
  display: flex;
  justify-content: space-around;
}

.section4-card {
  width: 22%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  border-radius: 60px 0 0 0;
}
.section4-card-img {
  width: 100%;
  border-radius: 60px 0 0 0;
}
.section-card-title {
  position: relative;
}
.section4-card-title {
  position: absolute;
  top: 0%;
  background-color: #9e3b7d;
  color: #ddd;
  padding: 20px;
  border-radius: 30px 0 0 0;
}
.section4-item-text {
  padding-left: 7px;
  padding-top: 20px;
}
.section4-text2 {
  display: flex;
  margin-top: 30px;
}
.ddd {
  padding-left: 40px;
  display: inline-block;
}
.titlee {
  position: absolute;
  top: 10px;
  color: #ccc;
}
.section4-title1 {
  font-family: "Gochi Hand", cursive;
  color: rgb(179, 48, 48);
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: 170px;
}
.section4-title2 {
  color: rgb(119, 113, 104);
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 170px;
}
