.header {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.ttl {
  color: rgb(28, 28, 138);
  display: inline-block;
  padding-left: 30px;
}
.menu {
  display: inline-block;
  padding-right: 30px;
  font-size: 11px;
}
li {
  display: inline-block;
}
.menu a {
  color: rgb(28, 28, 138);
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.mainiti {
  padding-top: 320px;
  font-size: 300%;
  position: relative;
}
.kasane {
  position: relative;
}
.kasane__ao {
  width: 10%;
  background: rgb(28, 28, 138);
  padding-right: 90%;
  padding-bottom: 12%;
  position: absolute;
  z-index: 10;
  margin-top: 20%;
}
.kasane__img {
  display: block;
  width: 40%;
  margin-left: 60%;
  z-index: 30;
  margin-top: -20%;
  position: relative;
}
