.ttl {
  color: rgb(28, 28, 138);
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
}
.menu {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  width: 118%;
  margin-top: -15px;
}
.menu a {
  color: rgb(28, 28, 138);
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
li {
  display: inline-block;
}
.mainiti {
  margin-bottom: -34.5%;
  margin-top: 26%;
  font-size: 300%;
}
.kasane {
  position: relative;
}
.kasane__ao {
  width: 10%;
  background: rgb(28, 28, 138);
  padding-right: 90%;
  padding-bottom: 13%;
  position: absolute;
  z-index: 10;
  margin-top: 34.5%;
}
.kasane__img {
  display: block;
  width: 40%;
  margin-left: 80%;
  position: absolute;
  z-index: 30;
  margin-top: 14%;
}
